.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cycleDots {
  display: flex;
  gap: 0.6rem;
}

.cycleDot {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--primary);
  border-radius: 25%;
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}
